@model IdentityServer4.AdminUI.Models.IdentityClaims
@using Microsoft.AspNetCore.Http;
@{
    var IdentityName = IdentityServer4.AdminUI.Helpers.VarHelper.IdentityName;
}
<title>Identity-Claims-Delete</title>

<h3>Are you sure you want to delete this?</h3>
@* Display for delete information *@
<div>
    <h4>@Context.Session.GetString(IdentityName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdentityResourceId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdentityResourceId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>

    @* Post delete and navigation buttons. *@
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-info" />
    </form>
    <hr />
    <form asp-action="/Index">
        <input type="submit" value="Back to Claims" class="btn btn-info" />
    </form>
    <form asp-controller="IdentityResources" asp-action="Index">

        <input type="submit" value=" Back to IdentityResources" class="btn btn-info" />

    </form>
</div>
