@model IdentityServer4.AdminUI.Models.IdentityClaims
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Details";
    var temp = IdentityServer4.AdminUI.Helpers.VarHelper.IdentityName;
}
<hr />

@* Details table. *@
<div class="card mb-3">
    <div class="card-header">
        <i></i>
        <h2>Claims Details for: </h2>
        <h2>    @Context.Session.GetString(temp)</h2>
        <hr />
        @* Below are the buttons at the top of the details page table *@
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>

                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Id)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.IdentityResourceId)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.IdentityResourceId)

                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Type)</td>
                        <td>
                            @Html.DisplayFor(model => model.Type)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at ___</div>
</div>


@* Page Navigation buttons. *@
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><input type="submit" value="Edit" class="btn btn-info" /></a>
    <i class="fas fa-square-full fa-xs fa-rotate-90"></i>
    <a asp-action="Index"><input type="submit" value=" Back to Claims" class="btn btn-info" /></a>
    <i class="fas fa-square-full fa-xs fa-rotate-90"></i>
    <a asp-controller="IdentityResources" asp-action="Index">
        <input type="submit" value=" Back to Identity resources." class="btn btn-info" />
    </a>
</div>