@model IdentityServer4.AdminUI.Models.ApiSecrets
@using Microsoft.AspNetCore.Http;
@{
    var ApiResourceName = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceName;
    var ApiResourceId = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceId;
}
<title>Api-Secrets-Details</title>
<hr />
@* Details table. *@
<div class="card mb-3">
    <div class="card-header">
        <i></i>
        <h2>Api Secret Details for: </h2>
        <h2>    @Context.Session.GetString(ApiResourceName)</h2>
        <hr />
        <div class="form-inline">
            @* Below are the buttons at the top of the details page table *@
            <form asp-controller="ApiSecrets" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Secrets" class="btn btn-outline-primary" />

            </form>

            <form asp-controller="ApiClaims" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Claims" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ApiScopes" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Scopes" class="btn btn-outline-warning" />

            </form>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>

                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Id)

                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Description)

                        </td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.ApiResourceId)</td>
                        <td>@Html.DisplayFor(model => model.ApiResourceId)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Expiration)</td>
                        <td>@Html.DisplayFor(model => model.Expiration)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Type)</td>
                        <td>@Html.DisplayFor(model => model.Type)</td>
                    </tr>
                    <tr>
                        <td> @Html.DisplayNameFor(model => model.Value)</td>
                        <td>@Html.DisplayFor(model => model.Value)</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">&nbsp;</div>
</div>


@* Page Navigation buttons. *@
<hr />
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><input type="submit" value="Edit" class="btn btn-info" /></a>
    <i class="fas fa-square-full fa-xs fa-rotate-90"></i>
    <a asp-action="Index"><input type="submit" value=" Back to Api Secrets" class="btn btn-info" /></a>
    <i class="fas fa-square-full fa-xs fa-rotate-90"></i>
    <a asp-controller="ApiResources" asp-action="Index">
        <input type="submit" value=" Back to Api Resources" class="btn btn-info" />
    </a>

</div>
