@model IdentityServer4.AdminUI.Models.ApiSecrets
@using Microsoft.AspNetCore.Http;
@{
    var ApiResourceName = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceName;
    var ApiResourceId = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceId;
}
<h1 class=" = text-danger">
    @ViewBag.error
</h1>
<title>Api Secrets-Edit</title>
<h2>Edit</h2>
<h4>@Context.Session.GetString(ApiResourceName)</h4>
<h4>ApiSecrets</h4>
<hr />
@* Edit Form (to be posted) *@
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApiResourceId" class="control-label"></label>
                <input asp-for="ApiResourceId" readonly class="form-control" id=" @Context.Session.GetInt32(ApiResourceId)" value="@Context.Session.GetInt32(ApiResourceId)" />
                <span asp-validation-for="ApiResourceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Expiration" class="control-label"></label>
                <input asp-for="Expiration" class="form-control" />
                <span asp-validation-for="Expiration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                @Html.DropDownList("Type", new SelectList(new SecurityTypes()), new { @class = "form-control" })
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input type="password" asp-for="Value" class="form-control" placeholder="Leave blank to not change" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                Confirm <label asp-for="Value" class="control-label"></label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info" />
            </div>
            <div><input type="hidden" id="OldHash" name="OldHash" value="@ViewBag.OldPass" /></div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*This is the button to trigger the modal below.*@
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#Confirm_Leave">
    Back to Secrets
</button>

@* Modal window *@
<div class="modal fade" id="Confirm_Leave" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                If you leave changes you made will be not be saved.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <form asp-action="/Index">
                    <input type="submit" value="Back to Secrets" class="btn btn-info" />
                </form>
                <form asp-controller="ApiResources" asp-action="Index">

                    <input type="submit" value=" Back to ApiResources" class="btn btn-info" />

                </form>
            </div>
        </div>
    </div>
</div>