@model IdentityServer4.AdminUI.Models.ClientSecrets
@using Microsoft.AspNetCore.Http;
@{
    var ClientName = IdentityServer4.AdminUI.Helpers.VarHelper.ClientName;
}
<title>Secrets - Delete</title>
<hr />

<h3>Are you sure you want to delete this?</h3>
<h2>    @Context.Session.GetString(ClientName)</h2>
@* Display for delete information *@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expiration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expiration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>
    </dl>
    @* Post delete and navigation buttons. *@
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-info" />
    </form>
    <hr />
    <form asp-action="/Index">
        <input type="submit" value="Back to Secrets" class="btn btn-info" />
    </form>
    <form asp-controller="Clients" asp-action="Index">

        <input type="submit" value=" Back to Clients" class="btn btn-info" />

    </form>
</div>