@model IEnumerable<IdentityServer4.AdminUI.Models.ApiScopes>
@using Microsoft.AspNetCore.Http;
@{
   var ApiResourceName = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceName;
   var ApiResourceId = IdentityServer4.AdminUI.Helpers.VarHelper.ApiResourceId;
}

<title>Api Scopes</title>
<hr />

@* Index Table *@
<div class="card mb-3">
    <div class="card-header">
        <i></i>
        <h2>Api Scopes</h2>
        <h2>@Context.Session.GetString(ApiResourceName)</h2>
        <hr />
        @* Below are the buttons at the top of the Index page table *@
        <div class="form-inline">
            <form asp-controller="ApiSecrets" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Secrets" class="btn btn-outline-warning" />

            </form>

            <form asp-controller="ApiClaims" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Claims" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ApiScopes" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ApiResourceId)">

                <input type="submit" value="Scopes" class="btn btn-outline-primary" />

            </form>
        </div>
    </div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Options</th>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>Options</th>
                    <th>@Html.DisplayNameFor(model => model.DisplayName)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-fw fa-pen-square" ata-toggle="tooltip" title="Edit"></i></a> |
                            <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-fw fa-info-circle" ata-toggle="tooltip" title="Details"></i></a> |
                            <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-fw fa-trash" ata-toggle="tooltip" title="Delete"></i></a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DisplayName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
</div>
<div class="card-footer small text-muted">&nbsp;</div>

@* Page Navigation buttons. *@
<div>

    <hr />
    <a asp-controller="ApiScopes" asp-action="create">
        <input type="submit" class="btn btn-info" value="New Scope" />
    </a>
    <i class="fas fa-square-full fa-xs fa-rotate-90"></i>
    <a asp-controller="ApiResources" asp-action="Index">
        <input type="submit" value=" Back to Api Secrets" class="btn btn-info" />
    </a>
</div>