@model IEnumerable<IdentityServer4.AdminUI.Models.ClientProperties>
@using Microsoft.AspNetCore.Http;
@{
    var ClientName = IdentityServer4.AdminUI.Helpers.VarHelper.ClientName;
    var ClientId = IdentityServer4.AdminUI.Helpers.VarHelper.ClientId;
}
<title>Properties</title>
<hr />

@* Index Table *@
<div class="card mb-3">
    <div class="card-header">
        <i></i>
        <h2>Client Properties</h2>
        <h2>    @Context.Session.GetString(ClientName)</h2>
        <hr />
        @* Below are the buttons at the top of the Index page table *@
        <div class="form-inline">

            <form asp-controller="ClientSecrets" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Secrets" class="btn btn-outline-warning" />

            </form>

            <form asp-controller="ClientClaims" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Claims" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientCorsOrigins" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Cors Origins" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientGrantTypes" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Grant Types" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientIdPRestrictions" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Id PRestrictions" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientPostLogoutRedirectUris" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Post Logout Redirect Uris" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientProperties" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Properties" class="btn btn-outline-primary" />

            </form>
            <form asp-controller="ClientRedirectUris" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Redirect Uris" class="btn btn-outline-warning" />

            </form>
            <form asp-controller="ClientScopes" asp-action="Index" asp-route-searchString=" @Context.Session.GetInt32(ClientId)">

                <input type="submit" value="Scopes" class="btn btn-outline-warning" />

            </form>

        </div>


    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Options</th>
                        <th>@Html.DisplayNameFor(model => model.Value)</th>
                        <th>@Html.DisplayNameFor(model => model.Key)</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Options</th>
                        <th>@Html.DisplayNameFor(model => model.Value)</th>
                        <th>@Html.DisplayNameFor(model => model.Key)</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-fw fa-pen-square" ata-toggle="tooltip" title="Edit"></i></a> |
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-fw fa-info-circle" ata-toggle="tooltip" title="Details"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-fw fa-trash" ata-toggle="tooltip" title="Delete"></i></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Value)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Key)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
    <div class="card-footer small text-muted">&nbsp;</div>
</div>
@* Page Navigation buttons. *@
<hr />
<a asp-controller="ClientProperties" asp-action="create">
    <input type="submit" class="btn btn-info" value="New Property" />
</a>
<i class="fas fa-square-full fa-xs fa-rotate-90"></i>
<a asp-controller="Clients" asp-action="Index">
    <input type="submit" value=" Back to Clients" class="btn btn-info" />
</a>